.btn{
    min-width: 5rem;
    padding:0.8rem 2rem;
    border-radius: 5px;
    font-weight: 600;
}
.blue-btn{
    background-color: #605dba;
    color: white;
    transition: 0.2s ease-in;
}
.pink-btn{
    background-color: #E668B3;
    color: white;
}
.blue-btn:hover{
    background-color: #7c7ac1;
}
.pink-btn:hover{
    background-color: #e082ba;
}
