.hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 5rem 2rem 8rem;
    background-image: url("../../assets/images/hero_bg.png");
    background-position: 0 -4rem;
    background-repeat: no-repeat;
}
.hero h1{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 900;
    width: 100%;
}
.hero p{
    width: 50%;
    font-size: 1.4rem;
    text-align: center;
    color: #60697B;

}
.hero-txt-span{
    color: #605dba;
}
.hero-btns{
    display: flex;
    gap: 2rem;
}
.join-btn,
.donate-btn{
    width: 12rem;
    display: flex;
    justify-content: center;
}
.doodle1{
    position: absolute;
    left: 9vw;
    top: 7rem;
    width: 1.5rem;
    height: 1.5rem;
    animation: rotation 4s ease-in-out infinite;
}
.doodle2{
    position: absolute;
    bottom: 4rem;
    left: 11vw;
    width: 3rem;
    height: 3rem;
    animation: rotation 4s ease-in-out infinite;
    animation-delay: 0.5s;
}
.doodle3{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 7rem;
    right: 11vw;
    animation: rotation 4s ease-in-out infinite;
}
.doodle4{
    position: absolute;
    bottom: 4rem;
    width: 2rem;
    height: 2rem;
    right: 9vw;
    animation: rotation 4s ease-in-out infinite;
}

@media(max-width:1100px){
    .hero p{
        width: 90%;
    }
}
@media(max-width:650px){
    .hero{
        padding-left: 1rem;
        background-size: 250%;
        background-position: -15rem -3.5rem;
    }
    .hero p{
        width: 100%;
        font-size: 1.1rem;
    }
    .hero h1{
        width: 95%;
        font-size: 2.5rem;
    }
}
@media(max-width:500px){
    .hero{
        padding-left: 0.4rem;
    }
    .hero-btns{
        flex-direction: column;
    }
    .doodle1{
        left: 2rem;
    }
    .doodle3{
        right: 2rem;
        top: 9rem;
    }
    .doodle2{
        left: 2rem;
        bottom: 2rem;
    }
    .doodle4{
        right: 2rem;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
  }