.mission{
    padding: 4rem 5rem;
    background-image: url("../../assets/images/hero_bg.png");
    background-position: top;
    /* background-size: cover; */
}
.mission-main{
    display: flex;
    gap: 2.2rem;
}
.mission-left{
    width: 50%;
    padding:0 2rem 2rem;
}
.szh-accordion{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.szh-accordion__item-btn{
    width: 100%;
    height: 4rem;
    text-align: start;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: transparent ;
}
.mission-accordian-item{
    padding: 0 1rem;
}
.szh-accordion__item-content{
    padding: 0 2.2rem 1rem;
}
.accordion-header{
    display: flex;
    gap: 1rem;
}
.mission-accordian-icon{
    font-size: 1.3rem;
    transition: 0.3s ease-in;
}
.active{
    transform: rotate(180deg);
}
.unactive{
    transform: rotate(0deg);
}

.mission-right{
    width: 50%;
    font-size: 1.2rem;
    padding:0 1.5rem;
}
.mission-right-text {
    padding-top:3rem ;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.mission-right-text p{
    text-align: center;
}

@media(max-width:1000px){
    .mission{
        padding: 4rem 3rem;
    }
    .mission-left{
        padding: 0 1rem;
    }
    .szh-accordion__item-content{
        padding: 0 0 1rem 2.2rem ;
    }
}
@media(max-width:870px){
    .mission-main{
        flex-direction: column;
    }
    .mission-left{
        width: 100%;
    }
    .mission-right{
        width: 100%;
        padding: 0 0.8rem;
    }
}
@media(max-width:500px){
    .mission{
        padding:4rem 1rem;
    }
    .mission-left h2{
        width: 100%;
        padding: 0;
    }
    .mission-accordian-item{
        padding: 0;
    }
}